<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<style type="text/css">
	.p1{
		padding:10px 0 0 20px;font-size: 20px;
	}
	.img1{
		padding:0 0 0 20px;
	}
	.left{
		float:left;width:800px;
	}
	.right{
		border:1px solid #000;float:left;width:251px;margin-top:48px;
	}
	.img2{
		width:100px;height: 100px;float:left;padding:5px;
	}
	h6{
		font-size: 16px;
	}
	.tag{
		font-size: 14px;
	}
	.tedian{
		padding:10px
	}
	.img3{
		width:150px;margin: auto;display: block;
	}
	.p2{
		margin-top:20px
	}
</style>
<body>
<div>
	<div class="left">
		<p class="p1">关于博主</p>
		<img class="img1" src="/images/about.png"/>
	</div>
	<div class="right">
		<img class="img2" src="/images/shuaige.jpg"/>
		<div>
			<h6>姓名:张铭铭</h6>
			<h6>年龄:25岁</h6>
			<h6>猿龄:3岁</h6>
		</div>
		<div class="tedian">
			<p>特点:</p>
			<span class="tag">&nbsp&nbsp&nbsp&nbsp精通原生js,手写代码无压力,热爱前端,热爱互联网</span>
			<p class="p2">加关注</p>
			<img class="img3" src="/images/ma.png"/>
		</div>
		
	</div>
</div>
</body>
</html>