<header>
	<div class="wrap">
	  	<img src="/images/logo.gif"/>
	  	<span><p>充满鲜花的世界到底在哪里</p><p>如果它真的存在</p><p>那么我一定要去&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp--&nbsp<追梦赤子心></p></span>
	  	<a><button onclick="location.href='/login'" class="btn btn-default">登录</button></a>
	   	<button onclick="location.href='/register'" class="btn btn-default">注册</button>
	</div>
</header>