<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <style>
    	body{
    		background:url(/images/login.jpg);
    		background-size:100% 110%
    	}
    </style>
</head>
<body>
	<form action="/users/form" method="post" style="width:400px;margin:270px auto;">
		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">账号：</span>
		  <input type="text" name="user" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
		</div>
		<div class="input-group" style="padding-top:30px">
		  <span class="input-group-addon" id="basic-addon1">密码：</span>
		  <input type="text" name="pwd" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
		</div>
		<div class="input-group" style="padding-top:30px">
		  <span class="input-group-addon" id="basic-addon1">邮箱：</span>
		  <input type="text" name="email" class="form-control" placeholder="email" aria-describedby="basic-addon1">
		</div>
		
		<input type="submit" id="sub" value="注册" class="btn btn-success" style="width:150px;margin:20px 0 0 180px;"/>
	</form>
	
</body>
</html>